
* { margin:0; 
    padding:0;
    box-sizing:border-box; 
    font-family: 'Poppins', sans-serif;
}
body { 
    scroll-behavior: smooth; 
}


header {
    position: fixed;
    top:0; 
    left:0;
    width:100%;
    display: flex; 
    justify-content: space-between;
    align-items:center;
    padding: 18px 40px;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    z-index: 100;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.logo {
    font-size:28px; 
    font-weight:500;
    -webkit-background-clip:text;
    background-clip: text;
    cursor:pointer; 
    transition:0.5s;
    font-family: 'Poppins', sans-serif; 
    color: #222; 
    transition: color 0.5s ease; 
}
.logo:hover {  
    color:#4482BB;
}
body.dark .logo {
    color: white;
}
body.dark .logo:hover{
    color:#4482BB;
}
nav ul { 
    display:flex; 
    gap:35px; 
    list-style:none;
}
nav a { 
    text-decoration:none; 
    color:#222; 
    font-size:17px; 
    font-weight:500; 
    position:relative; 
    padding-bottom:5px; 
    transition: color 0.3s ease;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
nav a::after {
    position: absolute; 
    left:0; 
    bottom:0;
    width:0%; 
    height:2px; 
    background:#6a0dad; 
    transition: width 0.3s ease;
    top: 0;
}
nav a:hover{ 
    color:#6a0dad; 
}
nav a:hover::after{ 
    width:100%; 
}
nav a.active { 
    color:#4482BB; 
}
nav a.active::after { 
    width:100%; 
    background:#b794f4; 
}
body.dark nav a.active {
    color:#4482BB;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}
.hamburger span {
    width: 25px;
    height: 3px;
    background: #222;
    border-radius: 2px;
    transition: all 0.3s ease;
    border-radius: 3px;
}

#theme-btn { 
    background:none; 
    border:none; 
    cursor:pointer; 
    font-size:22px; 
}
#theme-btn i { 
    transition:0.3s; 
}
#theme-btn:hover i { 
    transform:rotate(25deg) scale(1.2); 
}


.dark { 
    background-color:#111; 
    color:white; 
}
.dark header { 
    background: rgba(20,20,20,0.8); 
    backdrop-filter:blur(8px);
}
.dark nav a { 
    color:white; 
}
.dark nav a::after { 
    background:#b794f4; 
}
.dark #theme-btn i { 
    color:#FFD700; 
}

section { 
    padding:100px 40px; 
}
.home-container { 
    display:flex; 
    flex-wrap:wrap; 
    align-items:center; 
    gap:40px; 
    justify-content:space-around; 
}
.home-text h2 { 
    font-size: 70px; 
    margin-bottom:10px; 
}
.home-text h3 { 
    font-size:60px;
    color:#555; 
}
body.dark .home-text h3 {
    color: #4482BB;
}
.home-image img { 
    max-width:450px; 
    border-radius:10px; 
}
.home-text h2 span { 
    color:#6a0dad; 
}


.about-container { 
    display:flex; 
    flex-wrap:wrap; 
    align-items:center; 
    gap:40px; 
    justify-content:space-around; 
}
.about-text { 
    max-width:500px; 
    line-height:1.6; 
    flex: 1 1 400px;
    font-size: 18px;
}
#about h2 { 
    font-size:48px; 
    margin-bottom:40px; 
    text-align: center;
    font-weight: 700;
    color:#977DFF;
}
.about-image img { 
    max-width:300px; 
    border-radius:10px; 
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}


.my_skills_container { 
    display:grid; 
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); 
    gap:20px; 
    margin-top:20px; 
    margin-bottom: 40px;
    text-align: center;
    font-weight: 100;
}
#skills h2 {
    text-align:center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    color:#977DFF;
}
.skills-image { 
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}
.skills-image img { 
    max-width:100%; 
    border-radius:10px; 
}
.skill-card { 
    padding:15px; 
    border-radius:8px; 
    box-shadow:0 2px 8px rgba(0,0,0,0.1); 
    flex: 1 1 50px;
}
.skill-card h3 { 
    margin-bottom:10px; 
    align-items: center;
}
.progress-bar { 
    width:100%; 
    height:10px; 
    background:#eee; 
    border-radius:5px; 
}
.progress-fill { 
    height:100%; 
    background:#4482BB; 
    border-radius:5px; 
}
.skill-card h3 i { 
    margin-right:10px; 
    color:#4482BB; 
}

.projects-container { 
    display:grid; 
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); 
    gap:20px; 
    margin-top:20px; 
}
.project-card { 
    padding:15px; 
    border-radius:8px; 
    box-shadow:0 2px 8px rgba(0,0,0,0.1); 
    text-align:center;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    transform: scale(1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.project-card:hover {
    transform: scale(1.07);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
.project-card img { 
    width:300px;
    height: 200px; 
    border-radius:8px; 
    margin-bottom:10px; 
}
.project-card a { 
    text-decoration:none; 
    color:#4482BB; 
    font-weight:500; 
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: inline-block;
}
.project-card a:hover {
    border-color: #35C8B4;
    color: #35C8B4;
    background: rgba(66, 134, 152, 0.1);
    box-shadow: 0 4px 12px rgba(106, 162, 186, 0.3);
    transform: translateY(-2px);
}
.projects-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #977DFF;
}
.project-card h3 {
    font-size: 24px;       
    color: #4482BB;       
    margin-bottom: 10px;  
    font-weight: 600;     
    transition: color 0.3s ease; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.8);
}
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}




#contact form { 
    display:flex; 
    flex-direction:column; 
    gap:15px; 
    max-width:500px; 
    margin:auto; 
} 
#contact input, #contact textarea { 
    padding:10px; 
    border-radius:5px; 
    border:1px solid #ccc; 
}  
#contact h2 { 
    text-align:center; 
    font-size: 48px; 
    font-weight: 700; 
    margin-bottom: 40px; 
    color:#977DFF; 
}   
#contact button {
    padding: 14px;
    background: #4482BB;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

#contact button:hover {
    background: #977DFF;
}


footer { 
    text-align:center; 
    padding: 40px 20px; 
    background:#222; 
    color:white; 
    margin-top:40px; 
}
.footer-countainer {
    max-width: 800px;
    margin: auto;
}
.footer-name {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-icons {
    margin-bottom: 20px;
}
.footer-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 15px;
    transition: color 0.3s ease;
}
.footer-icons a:hover {
    color: #4482BB;
}
.footer-text {
    font-size: 14px;
    color: #aaa;
}

@media(max-width:786px){
    .home-container, .about-container { 
        flex-direction:column; 
        text-align:center; 
    }
    nav ul { 
        gap:20px;
        padding: 20px;
        flex-direction: column;
    }
    nav {
        position: absolute;
        top: 100%;
        right:0;
        background-color:white;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
    nav.open {
        max-height: 300px;
    }
    .hamburger {
        display: flex;
    }
    #theme-btn {
        order: 2;
    }
}
